* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-bar {
    background: black;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

[class*="col-"] {
    padding: 15px;
}

.col {
    width: auto;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

a {
    text-decoration: none;
}

.info a,
.content a {
    color: white;
    padding-right: 10px;
    padding-left: 0 !important;
}

.top-bar .row {
    margin: 0;
    padding: 0;
}

.info svg,
.content svg {
    margin: 0 10px 3px 0;
}

.d-flex {
    display: flex;
}

.flex-dir-c {
    flex-direction: column;
}

.j-around {
    justify-content: space-around;
}

.j-right {
    justify-content: right;
}

.j-left {
    justify-content: left;
}

.j-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.a-center {
    align-items: center;
}

.info {
    border-right: 1px solid gray;
    position: relative;
    right: -8px;
    padding-right: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left
}

.content {
    padding-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

select {
    background: transparent;
    color: white;
    width: 100px;
    border: 0;
}

.social-media {
    padding-left: 10px;
}

.social-media svg {
    margin: 0 10px;
    color: white;
    transition: color 3s ease-in;
}

.social-media svg:hover {
    color: #2981E9;
}

.border-l {
    border-left: 1px solid gray;
}

.logo {
    padding: 0 15px;
}

.logo img {
    padding: 0 35px;
}

img {
    width: 100%;
}

#main-menu {
    position: relative;
    display: flex;
    list-style: none;
}

.submenu {
    position: absolute;
    background: #ffff;
    min-width: 240px;
    transition: all 0.3s ease-in-out;
    top: 250%;
    opacity: 0;
    visibility: hidden;
    border-top: 2px solid #2981E9;
    z-index: 99;
    -webkit-box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 8%);
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 8%);
    text-align: left;
    list-style: none;
}

.submenu li {
    padding: 15px 0;
    border-top: 1px solid gray;
}

.submenu li a {
    position: relative;
    color: #000000;
    padding: 13px 25px !important;
    font-size: 16px;
    left: 0;
    text-transform: capitalize;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

#main-menu li:hover .submenu {
    top: 200%;
    opacity: 1;
    visibility: visible;
}

#main-menu li a:hover {
    color: #2981E9;
}

.submenu li a:hover {
    left: 10px;
}

.submenu:hover #main-menu li a {
    color: #2981E9;
}

.menu-list a {
    padding: 0 15px;
    color: black;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    padding: 37px 25px;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}

.menu-line div {
    height: 2px;
    width: 12px;
    background-color: black;
    margin: 3px;
}

.menu-line {
    padding: 0 25px;
}

.button {
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    margin: 0 10px;
}

.button a {
    color: white;
    padding: 0 35px;
    font-weight: 700;
    line-height: 60px;
}

.hamberger {
    display: none;
    z-index: 999999999999;
}

.hamberger-pop {
    position: fixed;
    float: right;
    width: 460px;
}

.navigationS {
    width: 100%;
    display: block;
    position: fixed;
    top: 0px;
    background: white;
    z-index: 9;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
    transition: all .3s ease-in-out;
}

.nav-bar {
    display: flex;
    position: relative;
}

.menu-bar {
    position: relative;
    right: -100px;
}

.menu-bar svg {
    color: black;
}

#banner {
    background: url('../image/banner.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.banner-title {
    padding: 0 15px;
}

.banner-title h2 {
    color: #000000;
    font-size: 90px;
    line-height: 115px;
    font-weight: 800;
    margin-bottom: 45px;
    text-transform: capitalize;
}

.banner-title p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #2981E9;
    display: inline-block;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    font-size: 16px;
    color: #ffff;
    line-height: 60px;
    padding: 0 35px;
    font-weight: 700;
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    text-transform: capitalize;
}

.left {
    flex: 40%;
    margin: 8% 5%;
}

.right {
    flex: 60%;
    margin: 9.5% 5%;
}

.exp {
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    display: inline-flex;
    align-items: center;
    padding: 20px 30px;
    bottom: 80px;
    left: 0;
}

.exp p {
    padding-left: 10px;
    color: #ffff;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.exp h6 {
    color: #ffff;
    font-family: "Livvic", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    text-align: left;
}

.right-top {
    background: #E4F0FF !important;
    padding: 2px 25px !important;
    border-radius: 50px !important;
    font-family: "Livvic", sans-serif !important;
    font-weight: 600 !important;
    color: #2981E9 !important;
    margin-bottom: 10px !important;
    display: inline-block !important;
}

.abt-content h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
    max-width: 500px;
}

.abt-content p {
    max-width: 490px;
    font-family: "Mulish", sans-serif;
    color: #828187;
    text-align: left;
}

.abt-facility {
    justify-content: space-between;
}

.abt-facility img {
    width: 65px;
}

.abt {
    border-bottom: 1px solid gray;
}

h4 {
    width: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    font-family: "Livvic", sans-serif;
}

.abt-s {
    padding: 20px;
}

.contact-details a {
    font-family: "Mulish", sans-serif;
    color: #ffff;
    font-size: 16px;
    line-height: 26px;
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    padding: 20px 35px;
}

.abt-blw {
    margin: 10px;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.phn-details {
    padding: 0 20px;
}

img {
    max-width: 100%;
}

.abt-content {
    margin: 20px !important;
    padding: 60px 0 !important;
}

.about-company {
    margin: auto;
    padding: 45px;
}

#services {
    background: url('../image/shape.png');
}

.services {
    padding: 100px 20px;
}

.services-title {
    margin: auto !important;
    text-align: center;
    max-width: 700px;
}

.service-title h2 {
    text-align: center;
    font-family: "Livvic", sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
    width: 70%;
    padding-top: 10px;
}

.services-top {
    margin: 0 auto !important;
    background: #E4F0FF;
    padding: 2px 25px;
    border-radius: 50px;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    color: #2981E9;
    margin-bottom: 10px;
    display: inline-block;
}

.card {
    max-width: 95%;
    margin: auto;
}

.card-body {
    padding: 15px;
    background: rgb(237, 237, 237);
    background-blend-mode: multiply;
    border-radius: 5px;
}

.card-body:hover {
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
}

.card-body:hover .service-icon {
    background-color: #fff;
}

.card-body:hover h2 a,
.card-body:hover p,
.card-body:hover a {
    color: #fff;
}

.card-body h2 {
    font-size: 24px !important;
}

.service-icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: rgba(190, 190, 190, 0.534);
}

.team-member {
    position: relative;
    overflow: hidden;
}

.service-icon img {
    width: 45px;
}

.card-body h2 a {
    color: #000000;
    display: inline-block;
    margin: 20px 0 10px 0;
    font-family: "Livvic", sans-serif;
}

.card-body a {
    padding: 20px 0;
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    color: #000000;
    display: inline-block;
}

.card-body p {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(189, 188, 191, 0.35);
    margin-bottom: 25px;
}

.arrow svg {
    color: #fff;
}

.pos-absolute {
    position: absolute;
}

.bottom-0 {
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .4s ease .1s;
}

.col-3:hover .bottom-0 {
    opacity: 1;
    bottom: 10px;
}

.left-25 {
    left: 25px;
    transition: all .4s ease .1s;
}

.pos-relative {
    position: relative;
    transition: .4s ease-in;
}

.vis-hidden {
    visibility: hidden;
}

.col-3:hover .vis-hidden {
    visibility: visible;
}

.col-3:hover .bg-img img {
    transform: scale(1.1);
}

.pop-card {
    margin: 20px 0 !important;
}

.card-btn {
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    margin: 5px;
    color: white;
    padding: 20px;
    opacity: 0;
}

.card-title h3 {
    padding: 9px 0;
}

svg {
    vertical-align: middle;
    color: #2981E9;
}

.pro-abt h2 {
    font-family: "Livvic", sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
}

.pro-abt p {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000000 !important;
}

.project {
    margin: 8px;
    padding-bottom: 100px;
    border-bottom: .5px solid gray;
}

.our-team {
    text-align: center;
    margin: 0 auto !important;
    background: #E4F0FF;
    padding: 2px 25px;
    border-radius: 50px;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    color: #2981E9;
    margin-bottom: 10px;
    display: inline-block;
}

.abt-team h2 {
    text-align: center;
    font-family: "Livvic", sans-serif;
    font-size: 30px;
    line-height: 55px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
    padding-top: 10px;
}

.bg-img {
    overflow: hidden;
}

.bg-img img {
    transform: scale(1);
    transition: transform .3s;
    overflow: hidden;
}

#team {
    background: #f0f1f4;
    padding: 90px 20px;
}

.abt-member {
    color: #41404A;
    position: relative;
    margin: -8px 0 !important;
    background: white;
    padding: 17px 22px;
    text-align: left;
}

h3 {
    font-family: "Livvic", sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #000000;
}

.tms {
    position: absolute;
    left: -40px;
    opacity: 0;
    transition: all .4s ease .1s;
}

.col-3:hover .tms {
    left: 15px;
    opacity: 1;
}

.tms svg {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    overflow: hidden;
}

.profile:hover .vis-hidden {
    visibility: visible;
    transition: all 0.4s ease-in .5s;
}

.profile:hover .abt-member,
.profile:hover h3 {
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    color: white;
}

.s-top {
    background: #E4F0FF;
    padding: 2px 25px;
    border-radius: 50px;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    color: #2981E9;
    margin-bottom: 10px;
    display: inline-block;
}

.s-right h2 {
    text-align: left;
    font-family: "Livvic", sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
    width: 777px;
    padding-top: 10px;
}

.col-6 h4 {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    min-height: 50px;
}

#why-choose-us {
    background: url('../image/choose.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.s-left {
    position: relative;
    z-index: -1;
    width: 200%;
}

.choose-content {
    min-height: 125px;
    padding: 20px;
    background: white;
}

.choose-content:hover {
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
}

.choose-content:hover h4 {
    color: white;
}

#skill {
    background: url('../image/skill.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.skill {
    background: rgba(9, 9, 9, 0.7);
    padding: 60px 10px 120px 10px;
}

.theme-btn {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #ffff;
    line-height: 60px;
    padding: 0 35px;
    font-weight: 700;
    transition: all 0.4s ease-out 0s;
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    text-transform: capitalize;
}

.theme-btn:hover {
    color: black;
    background: #ffff;
}

.skill-title h2 {
    font-family: "Livvic", sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px
}

.skill-play svg {
    color: white;
}

.play {
    height: 150px;
    width: 150px;
    background: black;
    border-radius: 100%;
}

.progress {
    padding: 10px 20px;
}

.skill-progress-content {
    margin: 10px;
}

.skill-progress-content h5 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #000000;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: #f9f9f9;
    margin-top: 10px;
    position: relative;
    border-radius: 5px 0 0 5px;
}

.progress-slide {
    width: 0;
    height: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    transition: 3.5s;
    border-radius: 5px 0 0 5px;
}

.skill-bar .container {
    background: #fff;
    margin: -100px 20px 0px 20px;
}

.pricing {
    padding: 100px 0 50px 0;
    background: #fafafa;
}

.section-top {
    background: #E4F0FF;
    padding: 2px 25px;
    border-radius: 50px;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    color: #2981E9;
    margin-bottom: 10px;
    display: inline-block;
}

h2 {
    font-family: "Livvic", sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
}

.price-icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    background: #f9f9f9;
    text-align: center;
    line-height: 78px;
    color: #2981E9;
    margin-right: 20px;
}

.price-icon img {
    width: 40px;
    vertical-align: middle;
    transform: rotateY(0deg);
    transition: all 0.3s ease-out 0s;
}

.price-card {
    background: #fff;
}

.plan h3 {
    font-family: "Livvic", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
}

.plan h5 {
    font-size: 24px;
    line-height: 34px;
    color: #2981E9;
}

.plan span {
    font-size: 14px;
    line-height: 24px;
}

.price-deck {
    padding: 30px 20px;
    margin: 0 20px;
    border-bottom: .5px solid lightgray;
}

.price-abt ul {
    list-style: none;
    font-family: "Mulish", sans-serif;
    color: #828187;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
}

.price-abt svg {
    margin: 10px;
    line-height: 24px;
}

.price-abt a {
    margin: 30px;
}

.price-btn {
    background: none;
    border: 2px solid #2981E9;
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #000;
    line-height: 60px;
    padding: 0 35px;
    font-weight: 700;
    text-transform: capitalize;
}

.price-btn:hover {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #ffff;
    line-height: 60px;
    padding: 0 35px;
    font-weight: 700;
    transition: all 0.4s ease-out 0s;
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    text-transform: capitalize;
}

.bullets {
    position: absolute;
}

.bullets ul {
    list-style: circle;
}

.j-flex-end {
    justify-content: flex-end;
}

.testmonial {
    margin: 0 20px;
    background: navy;
}

.pro-pic img {
    width: 230px;
    border-radius: 100%;
    margin: 20px;
}

.bolg {
    background: #fafafa;
}

.date {
    position: absolute;
    color: #fff;
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    width: 70px;
    height: 65px;
    text-align: center;
    padding: 11px 0;
    left: 20px;
    bottom: 20px;
    z-index: 1;
}

.blog-head {
    position: relative;
    overflow: hidden;
}

.blog-pic img {
    transform: scale(1);
    transition: all 0.2s ease-in;
}

.blog-pic img:hover {
    transform: scale(1.1);
}

.blog-card {
    background: #fff;
}

.date h3 {
    font-weight: 700;
    font-family: "Livvic", sans-serif;
    color: #ffff;
    font-size: 20px;
    line-height: 20px;
}

.blog-content svg {
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.interaction {
    margin: 0 10px;
}

.interaction a {
    text-transform: capitalize;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    color: #000000;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: inline-block;
    padding: 0 10px 20px 10px;
    border-bottom: 0;
}

.interaction a:hover {
    color: #2981E9;
}

.interaction h3 a {
    display: inline-block;
    color: #000000;
    transition: all 0.4s ease-out 0s;
    text-transform: none;
    font-weight: 700;
    font-family: "Livvic", sans-serif;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
}

p {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    line-height: 26px;
}

.interaction p {
    font-family: "Mulish", sans-serif;
    color: #828187;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(189, 188, 191, 0.35);
    margin-bottom: 25px;
}

.border-bottom {
    height: 2px;
    width: 0;
    background: transparent;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.blog-content:hover .border-bottom {
    width: 100%;
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
}

.footer {
    background-color: #000;
    padding: 30px 20px;
}

.footer-logo {
    max-width: 135px;
    vertical-align: middle;
}

.f-tag p {
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding: 30px 0;
}

.f-title-c2 h3 {
    color: #fff;
}

.f-widget {
    margin-top: 15px;
    height: 1px;
    width: 75%;
    background: #ffffff;
}

.f-wid {
    background: #2981E9;
    height: 4px;
    width: 50%;
}

.f-menu {
    margin: 15px;
}

.f-menu ul {
    list-style: none;
}

.f-menu ul li {
    margin-bottom: 15px;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.f-menu ul li a {
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    position: relative;
    left: 0;
}

.f-menu ul li a:hover {
    color: #2981E9;
    left: 15px;
}

input {
    margin: 10px -10px 0 0;
}

input[type="text"] {
    padding: 20px;
    width: 100%;
    border: 1px solid rgba(189, 188, 191, 0.35);
    border-radius: 0;
    outline: 0;
    width: 100%;
    height: 56px;
    background: #ffff;
    margin-bottom: 20px;
}

.form-btn {
    cursor: pointer;
    border: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #ffff;
    line-height: 60px;
    padding: 0 35px;
    font-weight: 700;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    text-transform: capitalize;
    z-index: 3;
    width: 100%;
}

.form-btn:hover {
    background: #fff;
    color: #000;
}

.footer-copyright {
    padding: 30px 0;
    border-top: 1px solid gray;
}

.copy-right {
    font-family: "Mulish", sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}

.insta {
    margin: 10px;
    background: gray;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.insta svg {
    color: white;
}

#video {
    display: none;
    width: 70%;
    height: 300px;
    position: fixed;
    z-index: 9999;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abt-interaction {
    margin: 10px;
}

@media(max-width:576px) {
    * {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .container {
        max-width: 480px;
    }
    .col-3,
    .col-2,
    .col-11,
    .col-7,
    .col-4,
    .col-8,
    .col-6,
    .col-1,
    .col-5,
    .col-9,
    .col-10 {
        width: 100%;
        padding: 0;
    }
    .nav-bar,
    .skill-progress-content,
    .foot-sm,
    .price-deck,
    .card-btn,
    .abt-blw,
    .exp,
    .abt-facility,
    .abt-s,
    .abt-interaction {
        flex-direction: row;
    }
    .logo img {
        padding: 0;
        transform: scale(.7);
    }
    .menu-list,
    .search,
    .button {
        display: none;
    }
    .menu-line {
        padding: 0 20px;
        position: absolute;
        right: -100px;
        bottom: 15px;
    }
    .menu-line div {
        height: 3px;
        width: 25px;
        margin: 6px;
    }
    .s-right h2 {
        font-size: 30px;
        line-height: 40px;
        width: 100%;
    }
    .info {
        text-align: center;
        border: 0;
        border-bottom: 1px solid gray;
        left: 0;
        right: 0;
        padding: 0;
        padding-bottom: 10px;
    }
    .banner-title {
        padding: 15px;
    }
    #about-company {
        padding: 100px 0px;
    }
    .banner-title h2 {
        width: 75%;
        font-size: 30px;
        line-height: 50px;
        /* font-weight: 500px; */
    }
    .about-company {
        padding: 0;
    }
    .abt-s {
        width: 33.33%;
        padding-bottom: 40px;
    }
    .abt-s h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
    }
    .service-title h2 {
        width: 100%;
        font-size: 30px;
        line-height: 40px;
    }
    .abt-content h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .card {
        padding: 30px 25px;
    }
    .abt-blw,
    .exp,
    .abt-facility {
        justify-content: space-between;
        align-items: center;
    }
    .contact-details a {
        padding: 26px 32px;
    }
    .phn-details h3 {
        font-size: 18px;
        line-height: 32px;
    }
    .btn {
        margin-bottom: 20px;
    }
    .card-btn {
        justify-content: space-evenly;
        border-radius: 5px;
    }
    .team-member {
        margin-bottom: 30px;
    }
    .f-widget {
        position: relative;
        width: 40%;
    }
    .f-wid {
        position: absolute;
        left: 0;
        bottom: -1.4px;
        width: 35%;
    }
    .footer-copyright {
        padding-bottom: 10px;
    }
    form {
        padding: 10px 0;
    }
    .price-card {
        padding: 10px;
        margin: 10px;
    }
    .blog-card {
        margin: 20px 5px;
    }
}

.cross {
    overflow: hidden;
    width: 20px;
    display: block;
    z-index: 99999999999;
    position: fixed;
    right: 25px;
    cursor: pointer;
}

.cross img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
}


/* .cross:hover img {
    transform: scale(1) rotate(180deg);
} */

.left-inner-addon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
}

.left-inner-addon svg {
    position: absolute;
    right: 10px;
    top: 30px;
}

.search-up {
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.1);
    bottom: -100%;
    background-color: black;
    margin: 0;
    padding: 0;
    z-index: 99999999;
    transition: all 1s ease-in-out;
}

.search-down {
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(9, 9, 9, 0.1);
    bottom: 0;
    background-color: black;
    margin: 0;
    padding: 0;
    z-index: 99999999;
    transition: all 1s ease-in-out;
}

.search-container {
    width: 100%;
    height: 0%;
    bottom: 100%;
    /* top: 100%; */
    visibility: hidden;
    position: fixed;
    background-color: rgba(9, 9, 9, 0.1);
    margin: 0;
    padding: 0;
    z-index: 9999999;
}

.search-container .row {
    padding: 0;
    margin: 0;
}

.search {
    cursor: pointer;
}

.h-close {
    background: linear-gradient(270deg, #2981E9 0%, #3C48DD 100%);
    ;
}